@page "/"

<PageTitle>x402dev home</PageTitle>


<h1>Welcome to x402dev</h1>
<p>
    Explore tools, check facilitators and experiment with x402 on x402dev.com

</p>

<div>
	<h4>Public Messages posted using x402</h4>
	<p>Launching a new x402 project? Promote it here! Messages can only be posted using x402.</p>
	<p>See <a href="/swagger" target="_blank">Open API Specs</a> for API details. A payment of 0.1 USDC on Base is required.</p>
</div>

<MessagesList  />

<img src="/logo.jpg" height="100" />
<img src="/x402-button-small.png" />

@code {
}