@page "/"

<PageTitle>x402dev - Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="10">
    <h1>Welcome to x402dev</h1>
    <p>
        Explore tools, check facilitators, and experiment with x402 on x402dev.com. 
        x402 is a payment protocol that enables seamless micro-payments for web resources. 
        Use this platform to test integrations, build signatures, and discover projects using x402.
    </p>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
            <h4>Explore x402dev Tools</h4>
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
               <a Href="/facilitators">Facilitators</a> - Check the status of x402 facilitators and view their supported networks.<br/>
               <a Href="/messages">Messages</a> - Post and view public messages using x402 payments.<br/>
               <a Href="/resource-tester">Resource Tester</a> - Test and debug x402-protected resources with payment headers.<br/>
               <a Href="/signature-builder">Signature Builder</a> - Build and test custom x402 payment signatures for authentication.<br/>
               <a Href="/base64-helper">Base64 Helper</a> - Encode and decode Base64 strings used in x402 headers.<br/>
               <a Href="/awesome-projects">Awesome Projects</a> - Discover innovative projects built with the x402 payment protocol.<br/>
            </FluentStack>
        </FluentStack>
    </FluentCard>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
            <h4>Public Messages posted using x402</h4>
            <p>
                Launching a new x402 project? Want to promote your service? Share it here! 
                Messages can only be posted using x402 payments, which helps maintain quality 
                and prevents spam. <br />
                Check out the <a href="/messages">Messages</a> page.
            </p>

            <MessagesList />

        </FluentStack>
    </FluentCard>


    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="20" VerticalAlignment="VerticalAlignment.Center">
        <img src="/logo.jpg" height="100" alt="x402dev logo" />
        <img src="/x402-button-small.png" alt="x402 button" />
    </FluentStack>
</FluentStack>

@code {
}