<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\YourAppName.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="360" requestTimeout="00:20:00" hostingModel="InProcess">
        <!-- other settings if needed -->
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>