@using Markdig
@using x402dev.Web.Services

@{
	ViewData["Title"] = "Public Messages on x402 Developer Portal";
}

<section id="facilitators" class="mb-5">
	<div class="container">
		<div class="d-flex align-items-baseline justify-content-between flex-wrap mb-3">
			<div class="d-flex align-items-baseline gap-3">
				<h2 class="h3 m-0">Public Messages posted using x402</h2>
			</div>
		</div>

		@await Html.PartialAsync("Messages")
	</div>
</section>
