@inherits LayoutComponentBase

<FluentLayout>
	<FluentHeader Style="background-color:#18334E">
		<FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center" Style="width:100%;">

			<FluentStack HorizontalAlignment="HorizontalAlignment.Start" VerticalAlignment="VerticalAlignment.Center">
				<img src="/logo.jpg" height="40" /> x402dev
			</FluentStack>

			<FluentStack HorizontalAlignment="HorizontalAlignment.End" VerticalAlignment="VerticalAlignment.Center">
				<Metamask SelectedAccountTruncateLength="15" ConnectText="Please Connect" InstallMetamaskText="Please install Metamask" />
			</FluentStack>
		</FluentStack>

	</FluentHeader>
	<FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
		<NavMenu />
		<FluentBodyContent Class="body-content">
			<ErrorBoundary>
				<ChildContent>
					<div class="content">
						@Body
					</div>
				</ChildContent>
				<ErrorContent Context="ex">
					<div class="blazor-error-boundary">@ex.Message</div>
				</ErrorContent>
			</ErrorBoundary>
		</FluentBodyContent>
	</FluentStack>
	<FluentFooter>
		<a href="https://github.com/michielpost/x402-dev" target="_blank">x402dev on GitHub</a>
		<FluentSpacer />
		<a href="https://x.com/michielpostnl" target="_blank">Created by Michiel Post</a>
	</FluentFooter>
	<FluentToastProvider MaxToastCount="10" />
	<FluentDialogProvider />
	<FluentTooltipProvider />
	<FluentMessageBarProvider />
	<FluentMenuProvider />
	<FluentDesignTheme StorageName="theme" Mode="DesignThemeModes.Light"  CustomColor="#16314E" />
</FluentLayout>

